/* 
/////////////////////////////////////////////////////
BASIC SETUP
/////////////////////////////////////////////////////
*/

* {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	font-family: "Roboto", sans-serif;
	color: #333;
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* p {
	margin: 2rem;
} */

/* 
/////////////////////////////////////////////////////
SCREEN STYLING
/////////////////////////////////////////////////////
*/

@media only screen {
	body {
		background-color: #fafafa;
	}

	.landscape-message-container {
		height: 100vh;
		width: 75vw;
		display: none;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.landscape-message-heading,
	.landscape-message-img {
		display: none;
		margin: 5rem 0;
	}

	.landscape-message-heading {
		font-size: 4rem;
	}

	.landscape-message-img {
		width: 35vw;
	}

	.landscape-message-text {
		display: none;
		font-size: 1.8rem;
		margin: 5rem 0;
	}

	.container {
		background-color: #fefefe;
		border-radius: 50px;
		display: flex;
		flex-direction: column;
	}

	.heading-area-container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.bold {
		font-weight: 700;
	}

	.para-print {
		display: none;
	}

	.personalise {
		display: none;
	}

	.instructions-area-container {
		display: flex;
		justify-content: space-between;
	}

	.instructions-area-box {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		border: 5px solid #aaa;
		border-radius: 50px;
	}

	.form-area-container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.img {
		opacity: 0;
		transition: all 1s;
	}

	.heading,
	.subheading {
		font-family: "Pangolin", cursive;
		padding-top: 5rem;
		margin: 0;
		text-align: center;
	}

	.heading {
		color: #85b0ff;
		transition: all 1s;
		opacity: 0;
	}

	.tabs {
		display: flex;
		justify-content: flex-start;
	}

	.tab {
		font-family: "Pangolin", cursive;
		font-weight: 700;
		color: #333;
		border-right: 2px solid #999;
	}

	.tab:hover {
		transform: translateY(-1px);
		cursor: pointer;
	}

	.names-tab {
		background-color: #85b0ff;
		border-radius: 10px 2px 0 0;
	}

	.words-tab {
		background-color: #ff858b;
		border-radius: 2px 2px 0 0;
	}

	.alphabet-tab {
		background-color: #8ef093;
		border-radius: 2px 2px 0 0;
	}

	.numbers-tab {
		background-color: #ffbc85;
		border-radius: 2px 10px 0 0;
	}

	.form-area {
		position: relative;
		top: -1px;
	}

	.form {
		border-right: 2px solid rgb(153, 153, 153);
		border-bottom: 2px solid rgb(153, 153, 153);
		border-radius: 0 10px 10px 10px;
	}

	.names-form {
		background-color: #85b0ff;
	}

	.words-form {
		background-color: #ff858b;
	}

	.alphabet-form {
		background-color: #8ef093;
	}

	.numbers-form {
		background-color: #ffbc85;
	}

	.button-row {
		display: flex;
	}

	.print-area {
		width: 100%;
	}

	.names-form__row,
	.words-form__row,
	.alphabet-form__row,
	.numbers-form__row {
		display: flex;
	}

	.names-form__column,
	.words-form__column,
	.alphabet-form__column,
	.numbers-form__column {
		display: flex;
		justify-content: flex-start;
		align-items: center;
	}

	.names-form__header-row,
	.words-form__header-row,
	.alphabet-form__header-row,
	.numbers-form__header-row {
		display: flex;
	}

	.names-form__heading,
	.words-form__heading,
	.alphabet-form__heading,
	.numbers-form__heading {
		font-family: "Pangolin", cursive;
		color: #333;
	}

	.add-row-btn,
	.delete-row-btn,
	.submit-btn {
		display: flex;
		align-items: center;
		justify-content: space-between;
		border-radius: 10px;
		border: 1px solid #777;
		background-color: #ffffff;
		box-shadow: inset 0 0 3px 1px #777;
		cursor: pointer;
	}

	.add-row-btn:hover .icon,
	.delete-row-btn:hover .icon,
	.submit-btn:hover .icon {
		transform: scale(1.05);
		transition: all 0.1s;
	}

	.child-name,
	.words,
	.repeats,
	.font-size,
	.select-case,
	.select-numbers {
		border-radius: 10px;
		border: 1px solid #777;
		box-shadow: inset 0 0 3px 1px #777;
		outline: none;
	}

	.child-name,
	.words,
	.font-size,
	.select-case,
	.select-numbers,
	.repeats {
		width: 100%;
	}

	.font-size,
	.select-case,
	.select-numbers {
		cursor: pointer;
	}
}


/* 
/////////////////////////////////////////////////////
MEDIA QUERIES FOR RESPONSIVENESS TO 
DIFFERENT SCREEN WIDTHS
/////////////////////////////////////////////////////
*/


@media only screen and (max-width: 567px) {
	img,
	h1,
	h2,
	h3,
	form,
	p:not(.landscape-message-text),
	.container,
	.instructions-area-container,
	.heading-area-container,
	.instructions-area-box,
	.form-area-container,
	.print-area,
	.tab {
		display: none;
	}
	.landscape-message-container {
		display: flex;
	}
	.landscape-message-heading,
	.landscape-message-img,
	.landscape-message-text {
		display: block;
	}

	.landscape-message-heading {
		font-family: "Pangolin", cursive;
		margin: 0;
		color: #85b0ff;
	}
}

@media only screen and (min-width: 568px) {
	body {
		font-size: 1.4rem;
	}

	.container {
		width: 100%;
		margin: 0;
	}

	.heading-area-container {
		padding-top: 2.5rem;
	}

	.instructions-area-container {
		padding: 2.5rem 1rem 0 1rem;
		flex-direction: row;
	}

	.instructions-area-box {
		width: 49%;
		padding: 1rem;
		margin: 0;
	}

	.children-img-container {
		position: relative;
		width: 20rem;
		height: 10rem;
	}

	.children-img {
		width: 20rem;
		position: absolute;
		top: 0;
		left: 0;
	}

	.options-img-container {
		position: relative;
		width: 100%;
		margin-top: 10rem;
	}

	.options-img {
		position: absolute;
		width: 100%;
		left: 50%;
		transform: translateX(-50%);
		min-width: 10rem;
		max-width: 22.5rem;
	}

	.heading {
		font-size: 6rem;
	}

	.subheading {
		font-size: 2rem;
		padding: 1rem 0;
	}

	.form-area-container {
		padding: 4rem 0;
	}

	.tabs {
		width: 100%;
		padding: 0 0.25rem;
	}

	.tab {
		width: 20%;
		font-size: 2rem;
		padding: 1.5rem;
	}

	.form-area {
		width: 100%;
		padding: 0 0.25rem;
	}

	.form {
		padding: 0 1rem;
	}

	.names-form__column,
	.words-form__column,
	.alphabet-form__column,
	.numbers-form__column {
		margin-bottom: 1.5rem;
	}

	.wide-column {
		width: 14rem;
		margin-right: 0.5rem;
	}

	.medium-column {
		width: 10rem;
		margin-right: 0.5rem;
	}

	.narrow-column {
		width: 7.5rem;
		margin-right: 0.5rem;
	}

	.names-form__heading,
	.words-form__heading,
	.alphabet-form__heading,
	.numbers-form__heading {
		font-size: 1.75rem;
	}

	.add-row-btn,
	.submit-btn {
		padding: 0.4rem 0.8rem;
	}

	.add-row-btn,
	.submit-btn {
		width: 12.5rem;
		margin-right: 2.5rem;
		margin-top: 0.5rem;
		margin-bottom: 1.75rem;
	}

	.icon {
		width: 20%;
		margin-right: 0.5rem;
	}

	.delete-row-btn {
		font-size: 1.25rem;
		width: 8rem;
		padding: 0.6rem 1.25rem;
	}

	.child-name,
	.words,
	.repeats,
	.font-size,
	.select-case,
	.select-numbers {
		font-size: 1.25rem;
		padding: 0.6rem 0.75rem;
	}
}


@media only screen and (min-width: 900px) {
	body {
		font-size: 1.5rem;
	}

	.container {
		width: 100%;
		margin: 0;
	}

	.heading-area-container {
		padding-top: 5rem;
	}

	.instructions-area-container {
		padding: 5rem 1.5rem 0 1.5rem;
	}

	.instructions-area-box {
		width: 47.5%;
		padding: 1.25rem;
	}

	.children-img-container {
		position: relative;
		width: 25rem;
		height: 12.5rem;
	}

	.children-img {
		width: 25rem;
		position: absolute;
		top: 0;
		left: 0;
	}

	.options-img-container {
		position: relative;
		width: 100%;
		margin-top: 5rem;
	}

	.options-img {
		position: absolute;
		width: 100%;
		left: 50%;
		transform: translateX(-50%);
		min-width: 15rem;
		max-width: 25rem;
	}

	.heading {
		font-size: 7rem;
	}

	.subheading {
		font-size: 2.25rem;
		padding: 1.25rem 0;
	}

	.form-area-container {
		padding: 5rem 0;
	}

	.tabs {
		width: 100%;
		padding: 0 1.5rem;
	}

	.tab {
		width: 20%;
		font-size: 2.5rem;
		padding: 2rem;
	}

	.form-area {
		width: 100%;
		padding: 0 1.5rem;
	}

	.form {
		padding: 1rem 3rem;
	}

	.names-form__column,
	.words-form__column,
	.alphabet-form__column,
	.numbers-form__column {
		margin-bottom: 2.5rem;
	}

	.wide-column {
		width: 22.5rem;
		margin-right: 2rem;
	}

	.medium-column {
		width: 15rem;
		margin-right: 2rem;
	}

	.narrow-column {
		width: 10rem;
		margin-right: 2rem;
	}

	.names-form__heading,
	.words-form__heading,
	.alphabet-form__heading,
	.numbers-form__heading {
		font-size: 2.25rem;
	}

	.add-row-btn,
	.submit-btn {
		padding: 0.4rem 0.8rem;
	}

	.add-row-btn,
	.submit-btn {
		width: 12.5rem;
		margin-right: 2.5rem;
		margin-top: 0.5rem;
		margin-bottom: 1.75rem;
	}

	.icon {
		width: 20%;
	}

	.delete-row-btn {
		font-size: 1.5rem;
		width: 10.5rem;
		padding: 0.8rem 1.5rem;
	}

	.child-name,
	.words,
	.repeats,
	.font-size,
	.select-case,
	.select-numbers {
		font-size: 1.5rem;
		padding: 0.8rem 1.25rem;
	}
}

@media only screen and (min-width: 1200px) {
	body {
		font-size: 1.6rem;
	}

	.container {
		width: 95%;
		margin: 5rem 0;
	}

	.heading-area-container {
		padding-top: 5rem;
	}

	.instructions-area-container {
		padding: 5rem 5rem 0 5rem;
	}

	.instructions-area-box {
		width: 47.5%;
		padding: 2.5rem;
	}

	.children-img-container {
		position: relative;
		width: 25rem;
		height: 15rem;
	}

	.children-img {
		width: 25rem;
		position: absolute;
		top: 0;
		left: 0;
	}

	.options-img-container {
		position: relative;
		width: 100%;
		margin-top: 5rem;
	}

	.options-img {
		position: absolute;
		width: 100%;
		left: 50%;
		transform: translateX(-50%);
		min-width: 15rem;
		max-width: 30rem;
	}

	.heading {
		font-size: 8rem;
	}

	.subheading {
		font-size: 2.25rem;
		padding: 2rem 0;
	}

	.form-area-container {
		padding: 5rem 0;
	}

	.tabs {
		width: 100%;
		padding: 0 5rem;
	}

	.tab {
		width: 20%;
		font-size: 3rem;
		padding: 2.5rem;
	}

	.form-area {
		width: 100%;
		padding: 0 5rem;
	}

	.form {
		padding: 1.5rem 5rem;
	}

	.names-form__column,
	.words-form__column,
	.alphabet-form__column,
	.numbers-form__column {
		margin-bottom: 3rem;
	}

	.wide-column {
		width: 27.5rem;
		margin-right: 2.5rem;
	}

	.medium-column {
		width: 15rem;
		margin-right: 2.5rem;
	}

	.narrow-column {
		width: 10rem;
		margin-right: 2.5rem;
	}

	.names-form__heading,
	.words-form__heading,
	.alphabet-form__heading,
	.numbers-form__heading {
		font-size: 2.5rem;
	}

	.add-row-btn,
	.submit-btn {
		padding: 0.5rem 1rem;
	}

	.add-row-btn,
	.submit-btn {
		width: 12.5rem;
		margin-right: 2.5rem;
		margin-top: 2rem;
		margin-bottom: 1.75rem;
	}

	.icon {
		width: 20%;
		margin-right: 0.5rem;
	}

	.delete-row-btn {
		font-size: 1.6rem;
		width: 10.5rem;
		padding: 1rem 1.5rem;
	}

	.child-name,
	.words,
	.repeats,
	.font-size,
	.select-case,
	.select-numbers {
		font-size: 1.6rem;
		padding: 1rem 1.5rem;
	}
}

@media only screen and (min-width: 1800px) {
	body {
		font-size: 1.8rem;
	}

	.container {
		width: 70%;
		margin: 7.5rem 0;
	}

	.heading-area-container {
		padding-top: 7.5rem;
	}

	.instructions-area-container {
		padding: 7.5rem 7.5rem 0 7.5rem;
	}

	.instructions-area-box {
		width: 47.5%;
		padding: 2.5rem;
	}

	.children-img-container {
		position: relative;
		width: 30rem;
		height: 20rem;
	}

	.children-img {
		width: 30rem;
		position: absolute;
		top: 0;
		left: 0;
	}

	.options-img-container {
		position: relative;
		width: 100%;
		margin-top: 7.5rem;
	}

	.options-img {
		position: absolute;
		width: 100%;
		left: 50%;
		transform: translateX(-50%);
		min-width: 15rem;
		max-width: 35rem;
	}

	.heading {
		font-size: 10rem;
	}

	.subheading {
		font-size: 2.5rem;
		padding: 2.5rem 0;
	}

	.form-area-container {
		padding: 7.5rem 0;
	}

	.tabs {
		width: 100%;
		padding: 0 7.5rem;
	}

	.tab {
		width: 20%;
		font-size: 3rem;
		padding: 2.5rem;
	}

	.form-area {
		width: 100%;
		padding: 0 7.5rem;
	}

	.form {
		padding: 3.5rem 7.5rem;
	}

	.names-form__column,
	.words-form__column,
	.alphabet-form__column,
	.numbers-form__column {
		margin-bottom: 3rem;
	}

	.wide-column {
		width: 27.5rem;
		margin-right: 2.5rem;
	}

	.medium-column {
		width: 15rem;
		margin-right: 2.5rem;
	}

	.narrow-column {
		width: 10rem;
		margin-right: 2.5rem;
	}

	.names-form__heading,
	.words-form__heading,
	.alphabet-form__heading,
	.numbers-form__heading {
		font-size: 2.5rem;
	}

	.add-row-btn,
	.submit-btn {
		padding: 0.5rem 1rem;
	}

	.add-row-btn,
	.submit-btn {
		width: 12.5rem;
		margin-right: 2.5rem;
		margin-top: 2rem;
		margin-bottom: 1.25rem;
	}

	.icon {
		width: 30%;
		margin-right: 0.5rem;
	}

	.delete-row-btn {
		font-size: 1.8rem;
		width: 10.5rem;
		padding: 1rem 1.5rem;
	}

	.child-name,
	.words,
	.repeats,
	.font-size,
	.select-case,
	.select-numbers {
		padding: 1rem 1.5rem;
	}
}


/* 
/////////////////////////////////////////////////////
PRINT STYLING
FOR PRINTABLE RESOURCES GENERATED BY THE APP
AND PRINT PREVIEWS
/////////////////////////////////////////////////////
*/


@media only print {
	body {
		display: block;
		margin: 0;
		padding: 0;
	}

	img,
	h1,
	h2:not(.personalise),
	h3,
	form,
	p:not(.para-print),
	.tab {
		display: none;
	}

	.print-area {
		display: block;
		margin: 0;
		padding: 0;
		position: relative;
		overflow: visible;
	}

	.personalise {
		display: block;
		font-family: "Delius", cursive;
		font-size: 10mm;
		text-align: center;
	}

	.para-print {
		font-family: "Itim", cursive;
		padding: 0;
		line-height: 100%;
		margin: 0 0 10mm 0;
		text-decoration: underline dotted #333 1mm;
		text-decoration-skip-ink: none;
		word-wrap: break-word;
		position: relative;
		page-break-before: auto;
		page-break-after: auto;
		page-break-inside: avoid;
	}

	.para-print.large {
		font-size: 40mm;
	}

	.para-print.medium {
		font-size: 30mm;
	}

	.para-print.small {
		font-size: 20mm;
	}
}
